<h1>Stupid Coaching</h1>

<h3><%= @answer %></h3>

<h3>-You</h3>

<% if @response %>
<h3><%= @response %> </h3>
<% else %>
<p>Ask your question!</p>
<% end %>
<h3>-Your coach</h3>
<%= link_to "Ask a new question", ask_path %>
